#!KAMAILIO

debug=3
log_stderror=yes
children=4
auto_aliases=no
listen=udp:0.0.0.0:5060

# Load order matters!
loadmodule "pv.so"
loadmodule "sl.so"
loadmodule "tm.so"
loadmodule "rr.so"
loadmodule "maxfwd.so"
loadmodule "usrloc.so"
loadmodule "registrar.so"
loadmodule "textops.so"
loadmodule "xlog.so"
loadmodule "sanity.so"

modparam("registrar", "method_filtering", 1)
modparam("registrar", "max_expires", 3600)
modparam("usrloc", "db_mode", 0)
modparam("rr", "enable_full_lr", 1)
modparam("rr", "append_fromtag", 1)

request_route {
    xlog("L_INFO", "[$ci] $rm from $fu to $ru\n");

    if (!mf_process_maxfwd_header("10")) {
        sl_send_reply("483", "Too Many Hops");
        exit;
    }

    if (is_method("INVITE|SUBSCRIBE")) { record_route(); }

    if ($tt != "") {
        if (loose_route()) {
            route(RELAY);
            exit;
        }
    }

    if (is_method("CANCEL")) {
        if (t_check_trans()) { route(RELAY); }
        exit;
    }

    t_check_trans();

    if (is_method("REGISTER")) {
        if (!save("location")) { sl_send_reply("500", "Error"); }
        xlog("L_INFO", "=== REGISTER OK: $fu ===\n");
        exit;
    }

    if (is_method("INVITE")) {
        if (!lookup("location")) {
            sl_send_reply("404", "Not Found");
            exit;
        }
        route(RELAY);
        exit;
    }

    if (is_method("BYE")) {
        route(RELAY);
        exit;
    }

    if (!lookup("location")) {
        sl_send_reply("404", "Not Found");
        exit;
    }
    route(RELAY);
}

route[RELAY] {
    if (!t_relay()) { sl_send_reply("500", "Relay Error"); }
    exit;
}
#!KAMAILIO

debug=2
log_stderror=yes
children=4
auto_aliases=no

listen=udp:0.0.0.0:5060

loadmodule "tm.so"
loadmodule "pv.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "maxfwd.so"
loadmodule "usrloc.so"
loadmodule "registrar.so"
loadmodule "textops.so"
loadmodule "xlog.so"
loadmodule "nathelper.so"
loadmodule "rtpengine.so"

modparam("rtpengine", "rtpengine_sock", "udp:10.10.0.30:22222")
modparam("registrar", "method_filtering", 1)
modparam("registrar", "max_expires", 3600)
modparam("registrar", "received_avp", "$avp(received)")
modparam("usrloc", "db_mode", 0)
modparam("nathelper", "received_avp", "$avp(received)")
modparam("rr", "enable_full_lr", 1)
modparam("rr", "append_fromtag", 1)

request_route {
    force_rport();

    if (!mf_process_maxfwd_header("10")) {
        sl_send_reply("483", "Too Many Hops");
        exit;
    }

    if (is_method("INVITE|SUBSCRIBE")) { record_route(); }

    if ($tt != "") {
        if (loose_route()) {
            if (is_method("INVITE|UPDATE")) { rtpengine_manage(); }
            if (is_method("ACK")) { xlog("L_INFO", "ACK $fu -> $tu\n"); }
            if (is_method("BYE")) {
                xlog("L_INFO", "BYE $fu -> $tu\n");
                rtpengine_delete();
            }
            route(RELAY);
            exit;
        }
    }

    if (is_method("CANCEL")) {
        if (t_check_trans()) { route(RELAY); }
        exit;
    }

    t_check_trans();

    if (is_method("REGISTER")) {
        fix_nated_register();
        if (!save("location")) {
            xlog("L_ERR", "REGISTER FAILED: $fu\n");
            sl_send_reply("500", "Error");
        } else {
            xlog("L_INFO", "REGISTER $fu [OK]\n");
        }
        exit;
    }

    if (is_method("INVITE")) {
        xlog("L_INFO", "INVITE $fu -> $ru\n");
        rtpengine_manage();
        if (!lookup("location")) {
            xlog("L_ERR", "INVITE 404: $ru not found\n");
            sl_send_reply("404", "Not Found");
            exit;
        }
        t_on_reply("MANAGE_REPLY");
        route(RELAY);
        exit;
    }

    if (is_method("ACK")) {
        xlog("L_INFO", "ACK $fu -> $tu\n");
        route(RELAY);
        exit;
    }

    if (is_method("BYE")) {
        xlog("L_INFO", "BYE $fu -> $tu\n");
        rtpengine_delete();
        route(RELAY);
        exit;
    }

    if (!lookup("location")) {
        sl_send_reply("404", "Not Found");
        exit;
    }

    route(RELAY);
}

route[RELAY] {
    if (!t_relay()) {
        xlog("L_ERR", "RELAY FAILED: $rm $ru\n");
        sl_send_reply("500", "Relay Error");
    }
    exit;
}

onreply_route[MANAGE_REPLY] {
    if (status=~"[12][0-9][0-9]") {
        xlog("L_INFO", "$rs $rr\n");
        rtpengine_manage();
    }
}
#!KAMAILIO

debug=2
log_stderror=yes
children=4
auto_aliases=no

listen=udp:10.142.0.3:5060 advertise 34.26.227.137:5060

loadmodule "tm.so"
loadmodule "pv.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "maxfwd.so"
loadmodule "usrloc.so"
loadmodule "registrar.so"
loadmodule "textops.so"
loadmodule "xlog.so"
loadmodule "nathelper.so"
loadmodule "rtpengine.so"

modparam("rtpengine", "rtpengine_sock", "udp:10.10.0.30:22222")
modparam("registrar", "method_filtering", 1)
modparam("registrar", "max_expires", 3600)
modparam("registrar", "received_avp", "$avp(received)")
modparam("usrloc", "db_mode", 0)
modparam("nathelper", "received_avp", "$avp(received)")
modparam("rr", "enable_full_lr", 1)
modparam("rr", "append_fromtag", 1)

request_route {
    force_rport();

    if (!mf_process_maxfwd_header("10")) {
        sl_send_reply("483", "Too Many Hops");
        exit;
    }

    if (is_method("INVITE|SUBSCRIBE")) { record_route(); }

    if ($tt != "") {
        if (loose_route()) {
            if (is_method("INVITE|UPDATE")) { rtpengine_manage(); }
            if (is_method("ACK")) { xlog("L_INFO", "ACK $fu -> $tu\n"); }
            if (is_method("BYE")) {
                xlog("L_INFO", "BYE $fu -> $tu\n");
                rtpengine_delete();
            }
            route(RELAY);
            exit;
        }
    }

    if (is_method("CANCEL")) {
        if (t_check_trans()) { route(RELAY); }
        exit;
    }

    t_check_trans();

    if (is_method("REGISTER")) {
        fix_nated_register();
        if (!save("location")) {
            xlog("L_ERR", "REGISTER FAILED: $fu\n");
            sl_send_reply("500", "Error");
        } else {
            xlog("L_INFO", "REGISTER $fu [OK]\n");
        }
        exit;
    }

    if (is_method("INVITE")) {
        xlog("L_INFO", "INVITE $fu -> $ru\n");
        rtpengine_manage();
        if (!lookup("location")) {
            xlog("L_ERR", "INVITE 404: $ru not found\n");
            sl_send_reply("404", "Not Found");
            exit;
        }
        t_on_reply("MANAGE_REPLY");
        route(RELAY);
        exit;
    }

    if (is_method("ACK")) {
        xlog("L_INFO", "ACK $fu -> $tu\n");
        route(RELAY);
        exit;
    }

    if (is_method("BYE")) {
        xlog("L_INFO", "BYE $fu -> $tu\n");
        rtpengine_delete();
        route(RELAY);
        exit;
    }

    if (!lookup("location")) {
        sl_send_reply("404", "Not Found");
        exit;
    }

    route(RELAY);
}

route[RELAY] {
    if (!t_relay()) {
        xlog("L_ERR", "RELAY FAILED: $rm $ru\n");
        sl_send_reply("500", "Relay Error");
    }
    exit;
}

onreply_route[MANAGE_REPLY] {
    if (status=~"[12][0-9][0-9]") {
        xlog("L_INFO", "$rs $rr\n");
        rtpengine_manage();
    }
}
